<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="UNIFIED_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [backend     ] [sess=%-10.10X{sessionUid:--}] %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${UNIFIED_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="BACKEND_FILE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/backend.log</file>
        <append>false</append>
        <encoder>
            <pattern>${UNIFIED_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ENGINEER_TRACE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/backend.engineer.trace.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="engineer.trace" level="DEBUG" additivity="false">
        <appender-ref ref="ENGINEER_TRACE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="BACKEND_FILE"/>
    </root>
</configuration>
