<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="UNIFIED_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [telemetry   ] [sess=%-10.10X{sessionUid:--}] %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${UNIFIED_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
